@use "../../../node_modules/sass-rem" as rem;
@import "@/assets/scss/_layout.scss";
@import "@/assets/scss/_variables.scss";

$m-side-navigation--open-width: rem.convert(304px);

.patrols {
  
  .app {

    .box {

      .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        max-height: 7rem;
        background-color: var(--background);
        flex-direction: row;
        flex-wrap: wrap;
        .btns_header{
          display: flex;
          flex-direction: row;
          height: 100%;
          background-color: none;
  
          .loading{
            width: 155px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          #days{
            margin-right: 1rem;
            max-width:150px;
            outline: none;
            border: none;
            padding: -10px;
            border-bottom: 1px solid black;
          }
          #save{
            margin-right: 1rem;
            width:50px;
          }
          #new{
            width:50px;
          }
        }
        
      }

      .table-header h4{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.4;
      }

      .container {
        margin-top: 2rem;

        .table-patrols {
          display: block;
          background-color: var(--background);
          border-collapse: collapse;
          max-height: 700px;
          overflow-y: auto;
          overflow-x: auto;

          .table-content {

            .row-question {
              height: 80px;
            }
            .table-patrols tr {
              height: 100%;
              width: 100%;
            }

            #mouth {
                text-align: center;

              }

             #week {
                text-align: center;
              }


            #check {
              border: none;
              min-height: 95px;
              max-height: 95px;
              min-width: 95px;
              max-width: 95px;

              Button {
                margin: auto;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .btnnull {
                background: #bfbfbfd1;
                color: grey;
                border-color: grey;
              }
              .btntrue {
                background: rgba(38, 185, 38, 0.818);
                color: green;
                border-color: green;
              }
              .btnfalse {
                background: #ff2828b2;
                color: red;
                border-color: red;
              }


            }
          }
        }
       
        .table-patrols tr,
        th{
          border: 1px solid #cccccc;
        }

        .table-patrols tbody tr:nth-child(n+4):nth-child(even) {
          background-color: #b7b7b7be;
        }

        .table-patrols tbody tr:nth-child(n+4):nth-child(even) {
          .side-header{
            background-color: #C9C9C9 !important;
          }
        }
        
      }
    }
  }
}

.laoding-area{
  width: 100%;
  background: none;
  display: flex;
  justify-content: center;
  img{
    width: 30px;
  }
}

@media (max-width: 930px){
  .patrols {
  
    .app {
  
      .box {
  
        .table-header {
          max-height:10rem;
          
        }

      }
    }
  }
}
@media (max-width: 419px){
  .patrols {
  
    .app {
  
      .box {
  
        .table-header {
          max-height:15rem;
          
        }

      }
    }
  }
}