@use "../../../node_modules/sass-rem" as rem;
@import "@/assets/scss/_variables.scss";

$m-side-navigation--open-width: rem.convert(304px);


.background_full .background-wrapper {
  padding-top: 4.5rem;
}

html,
body {
  scroll-behavior: smooth;

  .app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--plain__enabled__fill__hovered);

    .banner {
      background-image: url("~@/assets/img/ets.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba($color: #000, $alpha: 0.525);
      background-position: center;
      width: 100%;
      height: 65vh;
      position: relative;
      z-index: 0;

      .text-banner {
        position: absolute;
        color: #fff;
        font-size: 50px;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        margin: 0;
        text-align: center;

        #button-about {
          width: 100px;
          height: 35px;
          text-decoration: none;
          background-color: $button-color-m;
          border: none;
          color: #fff;
          font-size: 20px;
          padding: 10px;
        }
      }

      .text-banner {
        .a-button__label {
          text-decoration: none;
          color: #fff;
        }
      }
    }
    .cards {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      $color-collection: rgba(252, 103, 103), rgba(94, 87, 212),
        rgba(63, 221, 255), rgba(149, 225, 115);
      $teste: ("red", "purple", "blue", "green");
      $index: 0;

      .card-content {
        width: 25%;
        height: 335px;
        background-color: var(--background);
        position: relative;
        // border-radius: 30px 30px 0 0;
        margin: 0.25rem;
        margin-top: 0;
        margin-bottom: 0;

        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }

        .card-icon {
          width: 100px;
          height: 100px;
          border-radius: 100%;
          position: absolute;
          top: 0%;
          left: 50%;
          margin: -50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
        }

        .card-text {
          text-align: center;
          margin-top: 50px;
          padding: 1rem;

          .card-title {
            margin-bottom: .75rem;
            font-size: 1.15rem;

          }

          .card-box {
            text-align: justify;
          }
        }
        
      }

      @each $color in $color-collection {
        .card-content.#{unquote(nth($teste, $index+1))} {
          .card-icon {
            background-color: $color;
          }
        }  
        $index: $index + 1;
      }
    }

    .history {
      margin: 4rem 25.15% 0;
      text-align: center;

      .content-history {
        width: 100%;
        height: auto;
        background-color: var(--background);
        padding: 2rem 4rem 3rem;


        .title-history {
          margin-bottom: 1rem;
        }

        .text-history {
          text-align: justify;
          display: flex;
          justify-content: center;

          p {
            max-width: 1120px;
          }
        }
      }
    }
  }
}

@media (max-width: 405px) {
  html,
  body {
    .app {
      .cards {

        $color-collection: rgba(252, 103, 103), rgba(94, 87, 212),
          rgba(63, 221, 255), rgba(149, 225, 115);
        $teste: ("red", "purple", "blue", "green");
        $index: 0;

        @each $color in $color-collection {
          .card-content.#{unquote(nth($teste, $index+1))} {
            
            .card-icon {
              
            }

            .card-text {
              
              .card-title{
    
              }

              .card-box{
                font-size: 0.8rem;
              }
            
            }
          }

          $index: $index + 1;
        }
      }

      .history {
        

        .content-history {
           margin: 0;

          .title-history h1{
            font-size: 20px !important;
          }

          .text-history p{
            font-size: 1rem !important;
          
          }
        }
      }
    }
  }
}

@media (max-width: 777px) {
  html,
  body {
    .app {

      .history {
        

        .content-history {

          .title-history h1 {
            font-size: 30px;
          }

          .text-history {
            font-size: 20px;
            margin-top: 2rem;
          
          }
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  html,
  body {
    .app {
      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;

          .card-content{
            width: 100%;
            margin: 15px 0 0 0; 
            
            .card-text {
              padding: 0 2rem;
            }

        }
      }

      #history {
        margin-left: 0;
        margin-right: 0;

        .content-history {
          padding: 2rem 2rem 3rem 2rem;
        }
      }
    }
  }
}