// ------------------------------------------ IMPORTS ------------------------------------------


// ------------------------------------------ COLORS ------------------------------------------

// Background
    $background-color-w-l: #FCFCFC;
    $background-color-w-m: #F5F5F5;
    $background-color-w-d: #EBEBEB;

// Main Text
    $text-color-w-l: #454545;
    $text-color-w-m: #2C2C2C;
    $text-color-w-d: #121212;

// Bosch standard
    $standad-purple: #9E2896;
    $standad-blue: #007BC0;
    $standad-moss: #18837E;
    $standad-green: #00884A;

// Button
    $button-color-m: #007bc0;
    $button-background-hovered: #00629a;

// Input
    $input-background: #e0e2e5;
    $input-background-hovered: #c1c7cc; 
    $input-background-pressed: #d1e4ff;
